*,
body,
html {
    font-family: Montserrat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* REMOVE ARROW FROM INPUT TYPE NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: textfield;
}

@media (width < 770px) {
    .menu {
        display: none;
        visibility: hidden;
    }
}

@media (width < 770px) {
    .smallmenu {
        display: block !important;
        visibility: visible !important;
    }
}

@media (width < 376px) {
    .smallmenu {
        width: 3.5rem !important;
    }
}

.smallmenu {
    display: none;
    box-shadow: 2px 0px 8px -2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu {
    min-width: 19rem;
    height: 100vh;
    box-shadow: 2px 0px 8px -2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menulink {
    text-decoration: none;
    color: rgb(46, 46, 46);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menulink:hover {
    color: rgb(255, 175, 16);
}

#frame1 {
    width: 100%;
    height: 100vh;
    display: block;
    overflow-y: hidden;
}

ol,
ul,
li {
    text-decoration: none;
    list-style: none;
}

.framepage {
    height: 100vh;
    width: 100vw;
}

.bmi-form {
    max-width: 30rem;
}

.bmi-form2 {
    max-width: 28rem;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.052);
}

.resultsize {
    min-height: 125px;
}
